{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }} Working!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>{{ controller_name }} Working! ✅</h1>
    <p>{{ dump(sh_com) }}</p>
    <p>{{ command }}</p>
            {{ form_start(form) }}
            <input type="submit" class="btn btn-success"></input>
                {{ form_widget(form) }}
                    
                {{ form_end(form) }}
            {% for t in sh_com %}
                <ul>
                {% for i in t %}
                    <li>{{ i }}</li>
                {% endfor %}
                </ul>
            {% endfor %}

{#    <ul>

            <li>Your controller at <code>src/Controller/GroundZeroController.php</code></li>
            <li>Your template at <code>templates/ground_zero/index.html.twig</code></li>
    </ul>#}
</div>
{% endblock %}
